/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 10px;
	padding: 10px;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, td {
	font-weight: normal;
	text-align: left;
}

th {
	font-weight: bold;	
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


Html, body {
	Height: 100%;
}

body {
	background: #67890f;
	font-family: arial,helvetica, sans-serif;
	line-height: 25px;
	text-align: left;
}

h1 {
	font-size: 36px;
	font-family:"lobster 1.4";
	color: #76c315;
	padding-bottom: 23.12px;
}

h2 {
	font-size: 24px;
	font-family:"lobster 1.4";
	color: #717171;
	padding-bottom: 18px;
}

tr, td, p {
	color: #777575;
	font-family: arial;
	font-size: 12px;
	padding-bottom: 12px;
}

a {
	color: #76c315;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

body {padding: 130px 0; }
#container-wrapper {
	background:url('../images/elegant-green-vcard-template.png')no-repeat center;
}

#container {	background: #eee; margin:0 auto; position: relative; text-align: left; width: 580px; }

#header { clear: both; height: 100px; width: 580px; position: relative; margin: 0 0 25px 0; }
#header h1 { font-family:"lobster 1.4"; position: absolute; top: 37px; left: 117px;}
#header img#logo { position: absolute; top: 27px; left: 27px;}
#header p { font-size: 14px;	position: absolute;	top: 73px; left: 120px;}

#float-button a{ }
#header #float-button img{ position: absolute; right: -30px; top: 27px; }

						   
#main {	margin: 0 auto;}

#helloThere { margin: 0 0 0 -28px; padding: 0 30px 0 58px; background: transparent url(../images/hello.png) 0 0 no-repeat; }
#helloThere h2{	font-size: 22px; color: #fff; padding: 9px 0 6px 0; margin: 0 0 15px -4px; }
#helloThere p{ }


#portofolio { margin: 0 0 16px -28px; padding: 0 30px 30px 58px; background: transparent url(../images/portofolio.png) 0 0 no-repeat; }
#portofolio h2{	font-size: 22px; color: #fff; padding: 9px 0 6px 0; margin: 0 0 24px -4px; }

#portofolio ul {}
#portofolio ul li:first-child { margin-left: 0; }
#portofolio ul li {display: inline-block; width: 45%; padding: 10px; vertical-align: top;}
#portofolio ul li textarea {resize: vertical; min-height: 150px; width: 100%; margin: 0 0 0 0;}
#portofolio ul li img {display: block;  margin-left:auto; margin-right:auto; }

#portofolio button {width: 100%;}

#site { position: relative; color: #fff; font-family: arial; font-size: 12px; margin: 15px auto 50px auto; text-align: center; clear: both;  width: 580px; }
